* {
  margin: 0;
  padding: 0;
}
#actuel {
  color: #990077;
}
.navbare {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
  background-color: #bc9bc8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
  margin-right: 60px;
  align-items: center;
  position: relative;
}

.navlinks a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.navlinks a:hover {
  color: #990077;
  text-decoration: none;
}

.contact {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background: #69275c;
  padding: 30px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}
.container {
  max-width: 800px;
  margin-top: 0 auto;
}
.contact h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
}
.contact h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #69275c;
  text-align: center;
}
.contact .main {
  position: relative;
  display: flex;
  margin: 30px 0;
}
.content {
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.form-img {
  background: #fcfcfc;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}
.form-img img {
  max-width: 100%;
}

.contact form {
  margin: 30px 0;
}
.contact input,
textarea {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #fcfcfc;
}

/* CSS */
.button-72 {
  margin: 0;

  width: 300px;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(
    rgba(179, 132, 201, 0.84),
    rgba(81, 24, 88, 0.84) 50%
  );
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,
    rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 16px;

  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,
    rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px,
    rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#b384c9, #611b70 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}
::selection {
  background-color: #762788;
  color: #fff;
}
